@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.show {
  @apply outline outline-1 outline-red-500;
}

h1 {
  @apply font-semibold text-4xl mt-2;
}

h2 {
  @apply font-semibold text-3xl mt-2;
}

h3 {
  @apply font-semibold text-2xl mt-2;
}

h4 {
  @apply font-semibold text-xl mt-8;
}

section {
  @apply mt-10;
}

.center-absolutely {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}
